<% if user_signed_in? && current_user == @project.user || current_user.email == "jonathan@bestpracticestore.com" %>

<%= render 'layouts/navController' %>

<div id="internalLogoWrapper">
	<a href="/"> <img id="internalLogo" src="http://files.bestpracticestore.com/files/images/bpslogowhiteclear.png"></a>
</div>

<div id="createProjectWrapper">
	
<%= render 'form' %>


<%= link_to 'Back', projects_path %>

</div>

<% end %>
