<% if user_signed_in?%>

<%= render 'layouts/navController' %>

<div id="internalLogoWrapper">
	<a href="/"> <img id="internalLogo" src="http://files.bestpracticestore.com/files/images/bpslogowhiteclear.png"></a>
</div>

<p id="tagline" style="font-size:18px;">Please fill out all fields to create a new guide. You will be able to edit it at any time if you wish to change something. If you have any questions, please email <a class="myLink" href="mailto:jonathan@bestpracticestore.com?subject=Question regarding project submission">Jonathan Bowman</a> for support.</p>

<div id="createProjectWrapper">
	
<%= render 'form' %>


  <div class="inputWrapper">
    <%= link_to 'Cancel and lose progress', projects_path, class: "signInButton", id: "cancelButton", data: { confirm: 'Are you sure you wish to cancel? None of the information on this page will be saved.' } %>
  </div>

<% else %>

<script type="text/javascript">window.location.href = "/"</script>

<% end %>
</div>
<br /><br />
