/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

html {
	margin: 0;
	padding: 0;
}

body {
	background-color: #64918b;
	margin: 0;
	padding: 0;
}

a, p, h1, h2, h3, h4, label, input, form, button, td {
	font-family: 'Raleway', sans-serif;
	color: #FFFFFF;
	-webkit-transition: .15s ease-in-out;
	-moz-transition: .15s ease-in-out;
	-o-transition: .15s ease-in-out;
	transition: .15s ease-in-out;
	text-decoration: none;
}

.notice, .alert {
	opacity: 0;
	width: 100%;
	text-align: center;
	color: white;
	position: fixed;
	top: -10px;
	-webkit-transition: .25s ease-in-out;
	-moz-transition: .25s ease-in-out;
	-o-transition: .25s ease-in-out;
	transition: .25s ease-in-out;
}

#frontPageWrapper {
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 100px;
	padding-bottom: 50px;
}

#frontpageLogoWrapper {
	width: 100%;
	max-width: 300px;
	height: 188px;
	margin-left: auto;
	margin-right: auto;
}

#frontpageLogo {
	width: 100%;
}

#tagline {
	text-align: center;
	font-size: 24px;
	font-weight: 300;
}

#frontpageButtonWrapper {
	width: 100%;
	max-width: 300px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
}

.myButton {
	display: block;
	padding: 10px;
	padding-top: 15px;
	padding-bottom: 15px;
	font-family: 'Raleway', sans-serif;
	font-weight: 500;
	border: 1px solid #FFFFFF;
	font-family: 'Raleway', sans-serif;
	font-weight: 500;
}

.myButton:hover {
	background-color: #333333;
	color: white;
}

td {
	width: 200px;
	height: 50px;
	text-align: center;
}

#signInWrapper {
	width: 100%;
	max-width: 300px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
}

.inputWrapper {
	margin-top: 10px;
}

.inputField {
	width: 100%;
	height: 25px;
	border-radius: 0px;
	font-size: 18px;
	color: #333333;
}
.signInButton {
	cursor: pointer;
	background-color: #64918b;
	display: block;
	width: 50%;
	padding-top: 10px;
	padding-bottom: 10px;
	font-family: 'Raleway', sans-serif;
	font-weight: 500;
	font-size: 18px;
	border: 1px solid #FFFFFF;
	font-family: 'Raleway', sans-serif;
	font-weight: 500;
}

.signInButton:hover {
	background-color: #333333;
}
