<table id="headerControlsWrapper">
	<tr>
		<td><%= link_to "Sign out?", destroy_user_session_path, method: :delete, id: "headerSignOut" %></td>
	</tr>
	<tr>
		<td><%= link_to "Modify Account", edit_user_registration_path, id: "headerModify" %></td>
	</tr>
		<tr>
		<td><%= link_to "View My Projects", projects_path, id: "headerViewAll" %></td>
	</tr>
	<tr>
		<td id="signedInAs"> + Signed in as <%= current_user.username %> </td>
	</tr>
</table>